@use "../../components/" as c;
/*--------------------------------------------------------------
# FEATURED-SERVICES SECTION --- WisePanda.fr 
--------------------------------------------------------------*/
// .featured-services {
//   .service-item {
//     padding: 30px;
//     transition: all ease-in-out 0.4s;
//     background: c.$color-default;
//     height: 100%;
//     .icon {
//       margin-bottom: 10px;
//       i {
//         color: c.$color-primary;
//         font-size: 2.25rem;
//         transition: 0.3s;
//       }
//     }
//     h4 {
//       font-weight: 600;
//       margin-bottom: 15px;
//       font-size: 1.5rem;
//       a {
//         color: c.$color-secondary;
//         transition: ease-in-out 0.3s;
//       }
//     }
//     p {
//       line-height: 24px;
//       font-size: 0.875rem;
//       margin-bottom: 0;
//       color: c.$color-default-dark;
//     }
//     &:hover {
//       transform: translateY(-10px);
//       box-shadow: 0px 0 60px 0 rgba(c.$color-secondary, 0.1);
//       a {
//         color: c.$color-primary;
//       }
//     }
//   }
// }

.featured-services .service-item {
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: c.$color-default;
  height: 100%;
}
.featured-services .service-item .icon {
  margin-bottom: 10px;
}
.featured-services .service-item .icon i {
  color: c.$color-primary;
  font-size: 36px;
  transition: 0.3s;
}
.featured-services .service-item h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 24px;
}
.featured-services .service-item h4 a {
  color: c.$color-secondary;
  transition: ease-in-out 0.3s;
}
.featured-services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.featured-services .service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0 60px 0 rgba(c.$color-secondary, 0.1);
}
.featured-services .service-item:hover h4 a {
  color: c.$color-primary;
}
